.col-md-9
  %h1 #babblechat
  .panel.panel-default#chat-box{ data: { dialect_pick: ''}}
    .panel-body
      = render @messages
  .panel.panel-default#message-box
    .panel-body
      =simple_form_for @message, url: '#' do |f|
        =f.error_notification errors: true
        =f.input :content, as: :string, label: false, placeholder: 'Type your message here...'
        .pull-left
          =f.button :submit, 'Speak', class: 'btn-primary'
        .pull-right
          .pull-left{style: 'padding-top: 7px'}
            Pick your dialect &nbsp;
          .pull-right
            =f.input :dialect, label: false, collection: ['binary', 'valley', 'yoda'], selected: 'valley'

.col-md-3
  %h1
    online now
    &nbsp;
    = link_to destroy_user_session_path, method: :delete, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-log-out
  .panel.panel-default
    .panel-body#online-box
