// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image: image-url('background.png');
}
h1{
  color: white;
}

#devise-box{
  margin-top: 25%;
}

#chat-box{
  height: 370px;
  overflow-y: scroll;
}

#online-box{
  height: 503px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}
